@tailwind base;

@tailwind components;
@tailwind utilities;

:root {
  --color-contrast-higher: #080504;
  --color-bg: #EDEAE4;
  --font-base: 17px;
  --text-lg: 284px;
  --text-md: 49px;
}

@media(max-width:1023px) {
  :root {
    --font-base: 13px;
    --text-lg: 94px;
    --text-md: 26px;
  }
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

@media(min-width:1023px) {
.desktop {
  display: block;
}

.mobile {
  display: none;
}
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/NeueMontreal-Regular.otf");
}

@font-face {
  font-family: "Rayuela";
  src: url("../fonts/OTRayuela-Regular.otf");
}

@font-face {
  font-family: "Supply";
  src: url("../fonts/PPSupplyMono-Regular.otf");
}

@font-face {
  font-family: "Shreck";
  src: url("../fonts/Shreck Mono Trial Medium.otf");
}



:root {
  --font-primary: "Supply", sans-serif;
}


html, body {
  background: url('../images/bg-texture.jpg') repeat;
}
body {
  background-color: var(--color-bg);
}
.bg-background {
  background-color: var(--color-bg)
}

.text-white {
  color: var(--color-bg)
}

.dark-theme {
  background-color: var(--color-contrast-higher);
  color: var(--color-bg)
}

h1 {
  @apply text-2xl;
  font-size: var(--text-lg)
}
h2 {

  font-size: 284px;
}
@media(max-width:1023px) {
h2 {
  font-size: 96px;
}
}
h3 {
  font-family: 'Rayuela' !important;
  font-size: 172px;
  line-height: 105%;
}
@media(max-width:1023px) {
  h3 {
    font-size: 94px;
    line-height: 90px;
  }
}

h5 {
  font-family: 'Shreck' !important;
  font-size: 68px;
font-style: normal;
}

@media(max-width:1023px) {
  h5 {
    font-family: 'Shreck' !important;
    font-size: 36px;
  font-style: normal;
  }
}


a {
  @apply text-blue-600;
  font-size: var(--font-base);
}
p, .project-info {
  font-size: var(--font-base);
}


.font-base {
  font-size: var(--font-base);
}
.text-xxl {
  font-size: 43vw;
  line-height: 43vw;
}
@media(max-width:1023px) {
  .text-xxl {
    font-size: 152px;
  }
}

.text-lg {
  font-size: var(--text-lg)
}

.mx-d {
  margin-left: 40px;
  margin-right: 40px;
}
@media(max-width:1023px) {
  .mx-d {
    margin-left: 20px;
    margin-right: 20px;
  } 
}

.px-d {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
@media(max-width:1023px) {
  .px-d {
    padding-left: 20px !important;
    padding-right: 20px !important;
  } 
}

.py-d {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
@media(max-width:1023px) {
  .py-d {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  } 
}






body, h3, h4, h5, h6, a, li, p, span {
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--color-contrast-higher)
}

h1, h2 {
  font-family: 'Rayuela', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.color-bg {
  color: var(--color-bg)
}
/* BUTTONS
=========== */
.btn {
 border-radius: 8px;
 background: #2b2b2b;

 -webkit-clip-path: polygon(0 0,0 0,90% 0,100% 39%,100% 100%,100% 100%,0 100%,0 90%,0 10%);
 clip-path: polygon(0 0,0 0,90% 0,100% 39%,100% 100%,100% 100%,0 100%,0 90%,0 10%);
 color: #f1ede9;
 font-family: PP Supply Mono;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 28px;
 overflow: hidden;
 padding: 20px 15px 8px 13px !important;
 position: relative;
 text-align: center;
 text-transform: uppercase;
 background-color: var(--color-contrast-higher);
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 -ms-border-radius: 8px;
 -o-border-radius: 8px;
 width: 250px;
 transition: transform 0.3s ease;
}
@media(min-width:1023px) {
  .btn {
    padding: 0 1.2rem 0;
  }
}

.pill {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-contrast-higher);
  color: var(--color-bg);
  font-size: 14px;
  padding: 1px 18px;
  border: 1px solid var(--color-contrast-higher);
  width: fit-content;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.pill--ghost {
  background-color: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);

}

.btn--ghost {
  background-color: var(--color-bg);
}

.btn:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
 transition: transform 0.3s ease;
}


.btn-bg {
  position: absolute;
  top: -18px;
  pointer-events: none;
  z-index: 0;
}

.btn a {
  color: var(--color-bg);
  font-size: 17px;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.nav {
  border: 1px solid var(--color-bg)
}

nav .btn a {
padding: 0;
margin: 0;
  white-space: nowrap;
}

.btn--ghost a {
  color: var(--color-contrast-higher);
}


@keyframes pulseAnimation {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2); opacity: 0.5; }
  100% { transform: scale(1); opacity: 1; }
}

.red-dot {
  animation: pulseAnimation 1s infinite;
}

/* HEADER 
=========== */
nav {
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin: 20px 40px;
  position: fixed;
  width: calc(100vw - 80px);
  z-index: 99;
  top: 0;
  background-color: var(--color-contrast-higher)
}

nav a {
  color: var(--color-bg);
}

@media(max-width:1023px) {
nav {
  width: calc(100vw - 40px);
}
.nav-logo {
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -ms-transform: scale(.6);
  -o-transform: scale(.6);
  margin-left: -40px;
}
}
footer {
  position: relative;
}
footer p {
  font-size: var(--font-base);
}

.footer-text {
  font-size: 59px;
  font-family: 'Rayuela';
  height: 70px;
  white-space: nowrap;
}

@media(min-width:1023px) {
  .footer-text {
    font-size: 124px;
    height: 135px;
  }
  
}

.header-title .scramble {

  font-family: 'Rayuela' !important;

}


.logo {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0
}

.stripes {
  width: 100vw;
  height: auto;
  position: absolute;
  bottom: -300px;
  z-index: -2;
}

.bg-primary {
  background-color: var(--color-bg);
  width: 100vw
}

.bg-inverse{
  background-color: var(--color-contrast-higher);
  width: 100vw
}



::selection {
  background-color: var(--color-contrast-higher);
  color: var(--color-bg)
}

li {
  list-style: none !important;
}


/* HERO 
=========== */
.hero {

  display: block;
  position: relative;
}

@media(max-width:1023px) {
  .hero {
    /* height: calc(100vh - 75px) */
  }
}

.overlay-bottom {
  pointer-events: none;
  background: linear-gradient(
    0deg,
    rgba(0,0,0, 0.65) 13.21%,
    rgba(0,0,0, 0) 46.54%
  );
  background-blend-mode: multiply;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  height: 700px;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

@media(max-width:1023px) {
  .nav-open {
    height: calc(100% - 50px);
   border-top: 1px solid var(--color-contrast-higher)
  }
  nav a {
    font-size: var(--text-md);
    margin-bottom: 30px
  }
}
@media(max-width:1023px) {
.reel-block { transform: scale(.6); -webkit-transform: scale(.6); -moz-transform: scale(.6); -ms-transform: scale(.6); -o-transform: scale(.6);
}
}

.hero-desc {
  position: absolute;
  bottom: 40px;
  left:40px;
  max-width: 360px;
  text-align: justify;
}
@media(max-width:1023px) {
.hero-desc {
  position: absolute;
  bottom: 40px;
  left:20px;
  max-width: 360px;
}
}

.background-video {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}


/* HOME ABOUT 
============== */
.home-about .content {
  max-width: 700px;
  position: relative;
}

.text-indent {
  text-indent: 3.3rem;
  position: relative;
}
@media(max-width:1023px) {
.text-indent {
  text-indent: 2.3rem;
  position: relative;
}
}

.blurb__svg {
  position: absolute;
  top: .1em;
  left: 0;
  width: 1.8rem;
  height: 1.8rem;
  fill: currentColor;
}
@media(max-width:1023px) {
.blurb__svg {
  position: absolute;
  top: .1em;
  left: 0;
  width: 1.4rem;
  height: 1.4rem;
  fill: currentColor;
}
}

/* CARDS
========== */


.project-card {
  border: 1px solid var(--color-contrast-higher);
  border-left: 0;
  display: block;
  width: 100%;
}

.project-card video {
  max-height: 487px;
}
@media(min-width:1023px) {
.project-card video {
  height: 487px;
}
}

.about-card {
  max-height: 630px;
  display: block;
}
.about-card video {
  max-height: 630px;
  display: block;
}

/* CURSOR 
============ */

:root {
  --cursor-top: -300px;
}



.custom-cursor {
  position: absolute;
}

@media(max-width:1023px) {
  .custom-cursor {
    display: none !important;
  }
}

.custom-cursor:nth-of-type(1n) {
  display: block;
}
.custom-cursor:nth-of-type(2) {
  display: none;
}


/* Video Section */

.video-container {
  width: calc(100vw/2);
  /* filter: grayscale(100%); */
}
@media(max-width:1023px) {
.video-container {
  width: calc(100vw);
}
}

.video-section {

  height: 100vh;
  min-width: 100vw; /* Full width */
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.video-wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}

.video-wrapper-sm {
  max-width: 720px; /* Adjust this value as needed */
}



.video-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}
.video-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-player-container {
  width: 85%; /* Adjust as needed */
  height: 100%;
}

.video-content p {
  font-family: 'Shreck';
}

.play-btn {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex
}

.project-card:hover .play-btn {
  display: flex;
}

.overlay-top {
  pointer-events: none;
  background: linear-gradient(    0deg,    rgba(0,0,0, 0.65) 13.21%,    rgba(0,0,0, 0) 46.54%  );
  background-blend-mode: multiply;
  position: absolute;
  right: 0px;
  top: 0px;
  left: 0px;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  width: 100%;
  height: 700px;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.text-card {
  border: 1px solid var(--color-contrast-higher);
  border-left: 0;
  display: block;
  width: 100%;
  position: relative;
}


.text-card .blurb__svg {
  top: 1.3rem;
  left: 1rem;
}

/* ABOUT
============ */
.marquee-container {
  height: 80px;
  overflow: hidden;
  line-height: 30px;
display: block;
border-bottom: 1px solid var(--color-contrast-higher);
background-color: var(--color-contrast-higher);


}

.marquee-container h1 {
  color: var(--color-bg);
}

.marquee {
  top: 0;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;

  top: 3.8rem;
  white-space: nowrap;
  animation: marquee 30s linear infinite;

}


.marquee2 {
  animation-delay: 15s;
  position: absolute;

  top: 3.8rem;
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%
  }
}

.blurb__svg-2 {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  fill: currentColor;
}

/* VIDEO SVG
================== */

.video-class {
  clip-path: url(#clip-shape);
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media(max-width:1023px) {
.video-class {
  clip-path: url(#clip-shape-mobile);
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
}

.svg-class, #clip-shape, #clip-shape-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-svg-wrapper {
  position: relative;
  width: 43vw; /* Assuming this should match the font size */
  margin-top: 30px;
  padding-top: (473 / 193 * 100)%; /* Height as a percentage of width */
}

@media(max-width:1023px) {
  .video-svg-wrapper {
    margin-top: 10px;
    width: 14vw;
  }
}



/* VIDEO MODAL
================== */


.video-modal {
  height: auto;
  top: 20%;
  position: relative !important;
  /*margin-top: 300px;
  */padding: 0 !important;
  max-width: calc(100vw - 80px);
  inset: 0 !important;
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
  border: none !important;
  backdrop-filter: blur(1rem);
  background-color: rgba(0,0,0,.6) !important;
}

.ReactModal__Overlay--after-open {

  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-modal button {
  color: #fff;
  width: 100%;
  backdrop-filter: blur(1rem);
  background-color: rgba(0,0,0,.1);
  height: 3rem;
  text-transform: uppercase;
  user-select: none;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}
.video-modal button:after {
  content: '';
  height: 14px;
  width: 14px;
  display: block;
  background-color: #fc605c ;
  left: 18px;
  position: absolute;
  top: 18px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

@media(max-width:1023px) {
  .video-modal {
    max-width: calc(100vw - 40px);
  }
  .ReactModal__Overlay--after-open {
    background-color: rgba(0,0,0, 0.65) !important
  }
}

#draggableDiv {
  position: relative;
}

.video-trigger {
  position: absolute;
  height: 100%;
  width: 100%;
  color: transparent !important;
}


/* Carousel
================== */

/* In your CSS file */
.three-carousel-container {
  width: 100%;
  height: 500px; /* Adjust as needed */
  position: relative;
}










/* CURSOR 
========== */
* {
  /* cursor: none !important; */
}
.svg-cursor {
  width: 29px;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* Make the cursor element non-interactable */
  z-index: 9999; /* Set a high z-index to ensure the cursor is displayed above other elements */
  mix-blend-mode: difference;

}
@media(max-width:486px) {
  .svg-cursor {
  display: none !important; 
  }
}

/* Add additional CSS rules to style the cursor element as desired */

/* .reel-block {
  height: 70px;
  width: 40px;
  background-color: var(--color-contrast-higher);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
} */


/* SERVICES 
============== */


.service-component {
  overflow: hidden;
  }
.service-text {
  /* Your base style for text */
  cursor: pointer;
  transition: all 0.3s ease;
}

@media(min-width:1023px) {
  .service-text {
    height: 220px
  }
}

.service-text.active {
  /* Style for active state */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.service-video-element {
  /* Styles for your video */
  width: 100%; /* Adjust as needed */
  height: auto; /* Adjust for your aspect ratio */
}


.service-video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-video {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width:1023px) {
.service-video {
  -webkit-clip-path:  polygon(88.00% 0.00%,100% 12%,99% 100%,18% 100%,18% 0%);
  clip-path:  polygon(88.00% 0.00%,100% 12%,99% 100%,18% 100%,18% 0%);
}
}

@media(max-width:1023px) {
  .service-video-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 0;
  }
}

/* Base styles for larger screens */
.service-video video {
  width: 100%; /* This will make the video full width on all devices */
  height: auto; /* This maintains aspect ratio initially */
  object-fit: cover; /* This will cover the area, potentially cropping the video */
  max-height: 860px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .service-video video {
    /* height: 448px; */
    object-fit: cover; /* Ensures video covers the entire element's area */
    /* width: 90%; */
    /* -webkit-clip-path:polygon(88% 0, 100% 12%, 99% 100%, 0% 100%, 0% 0);
    clip-path: polygon(88% 0, 100% 12%, 99% 100%, 0% 100%, 0% 0); */
  }
}

/* 
.service-video::after {
  content: "";
  border: 1px solid #fff;
  position: absolute;
  display: block;
  left: 10px;
  top: 10px;
  right: 10px; 
  bottom: 10px;
  -webkit-clip-path: polygon(88% 0, 100% 12%, 99% 100%, 18% 100%, 18% 0);
  clip-path: polygon(88% 0, 100% 12%, 99% 100%, 18% 100%, 18% 0);
  height: 100%;
  width: 100%;
  z-index: 10;
} */


.service-texts {
  z-index: 10;
  position: relative;
}

.service-text {
  font-size: 91px;
  font-family: "Rayuela" ;
  white-space: nowrap;
}

@media(min-width:1023px) {
  .service-text {
    font-size: 184px;
  }
}

.content {
  /* height: 1200px; */
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 120%
}


.target-copy-1{
  position: absolute;
  top: 1.5rem;

}

.target-copy-2 {
  position: absolute;
  bottom: 1.5rem;
}




@media(min-width:1023px) {
.content {
  /* height: 1200px; */
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 53.63%
}

.target-copy-1{
  position: absolute;
  top: 1.5rem;
  left: 40px;
}

.target-copy-2 {
  position: absolute;
  bottom: 3rem;
  right: 40px;
}
}

/* SLIDER */

.video-slide .video-container {
  position: relative;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-slide video {
  height: 100%;
  width: auto; /* Adjust width to maintain aspect ratio */
  min-width: 100%;
  object-fit: cover; /* Ensures the video covers the area */
}

.video-slide .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* Adjust based on your preference */
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}

.video-slide .video-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: white; /* Ensures text is visible on top of the gradient */
}

/* Adjust the size of the title and paragraph if needed */
.video-slide h3 {
  margin: 0;
  padding: 0;
  font-size: var(--font-base);
  font-family: var(--font-primary) !important;
  text-transform: uppercase;
}

.video-slide p {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: var(--font-base);
}

.tag {
  padding: 0.1em .8em;
  border: 1px solid var(--color-bg);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.video-container {
  width: auto !important
}

.slick-slide {
  /* margin-left: .5em */
}


/* START */
/* Ensure the body doesn't scroll vertically during horizontal scroll phase */
body.no-vertical-scroll {
  overflow-y: hidden !important;
}

/* Slider container */
.video-slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Slider items */
.video-slider-container .slick-slide {
  outline: none; /* Remove outline to prevent visual glitches */
}

/* Prevent the horizontal scrollbar from showing */
.video-slider-container .slick-track {
  display: flex;
}

/* Additional styles for slides and video content */
.video-slide {
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 450px; /* 16:9 aspect ratio */
}

.video-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  color: white;
}


/* Progress bar */
.progress-container {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.progress-bar {
  width: 30%;
  height: 8px;
  background-color: #D9D6CF;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.progress {
  height: 100%;
  background-color: var(--color-contrast-higher);
  transition: width 0.2s ease-in-out;
}

.slide-count {
  position: absolute;
  right: 0;
  padding-left: 10px;
  font-size: 16px;
  color: #000;
}

/* END SLIDER 
============= */

/* START PROJECT PAGE
============ */
/* global.css or relevant CSS file */

body.project-page {
  overflow: hidden; /* Prevent vertical overflow on project page */
  margin: 0;
  padding: 0;
  height: 100vh;
}

.project-page-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.next-project-section {
  width: 100vw;
  padding: 0 100px
}
@media(min-width:1023px) {
.next-project-section {
  width: 100vw;
  padding: 0 500px
}
}


.horizontal-sections {
  display: flex;
  height: 100vh;
}

.project-detail {
  flex: 0 0 auto;
  width: 100vw;
  height: 100vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  background: url('../images/bg-texture.jpg') repeat;
  background-color: var(--color-bg);
  scroll-snap-align: start;
  white-space: normal;
}

@media(min-width:1023px) {
.project-detail--sm {
max-width: 60vw !important;
}
}

.layout-gallery, .layout-image {
  max-height: 70vh;
}


.content-width {
  max-width: 720px;
}

.page-width {
  max-width: 968px;
}

.layout-image {
  aspect-ratio: 1/1;
}

.layout-image img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* Project Slider */
.video-slider-section {
  background-color: black;
  width: 120vw;
  padding-left: 300px;
  padding-right: 300px;
}

.video-slider-section .slick-arrow  {
  display: none !important;
}



.video-slider-section .slick-slider {
  transform: translatey(50%);
  -webkit-transform: translatey(50%);
  -moz-transform: translatey(50%);
  -ms-transform: translatey(50%);
  -o-transform: translatey(50%);
  margin-top: -15%;
}
@media(min-width:1023px) {
.video-slider-section .slick-slider {
  transform: translatey(50%);
  -webkit-transform: translatey(50%);
  -moz-transform: translatey(50%);
  -ms-transform: translatey(50%);
  -o-transform: translatey(50%);
  margin-top: -15%;
}
}

.project-page-container {
  
}



.horizontal-sections {
  display: flex;
}



.video-section {
  position: relative;
  width: 100vw;
  height: 100vh;
}



.project-overview {
  position: absolute;
  bottom: 80px;
  left: 0px;
  color: white;
  font-size: 24px;
}

.project-title {
  font-family: 'Rayuela' !important;
  font-size: 72px;
}

.glitch {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 2px;
}

@keyframes noise-anim {
  0% {
    clip: rect(80px, 9999px, 40px, 0);
  }
  5% {
    clip: rect(10px, 9999px, 85px, 0);
  }
  10% {
    clip: rect(110px, 9999px, 10px, 0);
  }
  15% {
    clip: rect(20px, 9999px, 100px, 0);
  }
  20% {
    clip: rect(90px, 9999px, 5px, 0);
  }
  25% {
    clip: rect(50px, 9999px, 120px, 0);
  }
  30% {
    clip: rect(120px, 9999px, 60px, 0);
  }
  35% {
    clip: rect(10px, 9999px, 110px, 0);
  }
  40% {
    clip: rect(100px, 9999px, 20px, 0);
  }
  45% {
    clip: rect(80px, 9999px, 30px, 0);
  }
  50% {
    clip: rect(40px, 9999px, 100px, 0);
  }
  55% {
    clip: rect(120px, 9999px, 40px, 0);
  }
  60% {
    clip: rect(30px, 9999px, 120px, 0);
  }
  65% {
    clip: rect(70px, 9999px, 60px, 0);
  }
  70% {
    clip: rect(90px, 9999px, 20px, 0);
  }
  75% {
    clip: rect(20px, 9999px, 110px, 0);
  }
  80% {
    clip: rect(60px, 9999px, 90px, 0);
  }
  85% {
    clip: rect(50px, 9999px, 100px, 0);
  }
  90% {
    clip: rect(100px, 9999px, 20px, 0);
  }
  95% {
    clip: rect(110px, 9999px, 30px, 0);
  }
  to {
    clip: rect(20px, 9999px, 120px, 0);
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 5px;
  text-shadow: -2px 0 red;
  top: 0;
  color: #fff;
  background: var(--color-contrast-higher);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 1.5s linear infinite alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(90px, 9999px, 30px, 0);
  }
  5% {
    clip: rect(10px, 9999px, 60px, 0);
  }
  10% {
    clip: rect(50px, 9999px, 20px, 0);
  }
  15% {
    clip: rect(70px, 9999px, 40px, 0);
  }
  20% {
    clip: rect(30px, 9999px, 80px, 0);
  }
  25% {
    clip: rect(80px, 9999px, 50px, 0);
  }
  30% {
    clip: rect(110px, 9999px, 20px, 0);
  }
  35% {
    clip: rect(20px, 9999px, 110px, 0);
  }
  40% {
    clip: rect(100px, 9999px, 60px, 0);
  }
  45% {
    clip: rect(120px, 9999px, 40px, 0);
  }
  50% {
    clip: rect(90px, 9999px, 30px, 0);
  }
  55% {
    clip: rect(10px, 9999px, 100px, 0);
  }
  60% {
    clip: rect(60px, 9999px, 20px, 0);
  }
  65% {
    clip: rect(110px, 9999px, 90px, 0);
  }
  70% {
    clip: rect(20px, 9999px, 70px, 0);
  }
  75% {
    clip: rect(50px, 9999px, 10px, 0);
  }
  80% {
    clip: rect(100px, 9999px, 30px, 0);
  }
  85% {
    clip: rect(120px, 9999px, 50px, 0);
  }
  90% {
    clip: rect(40px, 9999px, 70px, 0);
  }
  95% {
    clip: rect(30px, 9999px, 110px, 0);
  }
  to {
    clip: rect(60px, 9999px, 90px, 0);
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -5px;
  text-shadow: 2px 0 blue;
  top: 0;
  color: #fff;
  background: var(--color-contrast-higher);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 2s linear infinite alternate-reverse;
}


